/* General Nav Settings */
.nav{
	background: #177263;
}

.nav-item{
	position: relative;
	padding:12px 5px;
	font-family: "Lato", sans-serif;
	color: white;
	font-size: 20px;
	transition: .3s ease-in-out;
	margin-top:4px;
}

/* Weather Widget */
.nav-weather{
	margin:.6% 39% -2% 2%;
	font-size: 17px;
}

.nav-weather a{
	text-decoration: none;
	list-style-type: none;
	color: white;
	transition: .3s ease-in-out;
}

.nav-weather a:hover{
	color:#52c0a7;
	transition: .3s ease-in-out;
}

.nav-weather i{
	margin-left:5px;
	font-size: 15px;
}

/* Circle w/ Letter Brand */
.nav-brand-icon {
	background: #eee;
	border-radius: 50%;
	border:none;
	color: #177263;
	background: white;
	padding:5px 13.5px;
	transition: .3s ease-in-out;
}

.nav-brand{
	margin:0 1.5%;
}

.nav-brand-icon:hover, .nav-brand-icon:active{
	background: #52c0a7;
	color: white;
	transition: .3s ease-in-out;
	cursor: pointer;
}

/* ================================== */
/* Style For Settings Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    margin:7% 2% 0 74%;
}

/* Modal Content */
.modal-content {
	margin-top: .4%;
	position: fixed;
    z-index: 1;
    height:200px;
    width:25%;
    background: white;
	border:5px solid #52c0a7;
}

.modal-triangle {
  width: 0;
  height: 0; 
  margin-left: 90%;
  margin-bottom: -1.7%;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #52c0a7;
}
/* ================================== */

/* Added Nav Bar Elements */
/* Blue Underline Bar */
.nav-underline{
	height:5px;
	background: #52c0a7;
}

/* Blue Underline Triangle */
.nav-triangle{
	margin-left: 10%;
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid #52c0a7;
}

