/* General Nav Settings */
.main-nav{
	background: rgba(34, 34, 34, .65);
}


/* NavTime Settings */
.navbar-time{
	margin-top:.5%;
	margin-left: 2%;
}

.navbar-weather{
	margin-left: 1%;
}

.navbar-name{
	margin-top: -6%;
	margin-right: 1.5%;
}

.navbar-icon{
	margin-top: -4.75%;
	margin-right: 2%;
}



/* Added Nav Bar Elements */
/* Blue Underline Bar */
.nav-underline{
	height:5px;
	background: #bbb;
}

/* Blue Underline Triangle */
.nav-triangle{
	margin-left: 10%;
	width: 0; 
  	height: 0; 
  	border-left: 10px solid transparent;
  	border-right: 10px solid transparent;
  	border-top: 10px solid #bbb;
}

