.login-div{
	background: white;
	width:35%;
	margin:12% auto;
	height:350px;
}

.login-div h3{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	font-family: "Lato", sans-serif;
	font-size: 24px;
	margin:1% auto;
	padding-top:10%;
	line-height: 40px;
	color:#333;
}

.login-div span{
	font-family: "Raleway", sans-serif;
	font-size: 60px;
	letter-spacing: 12px;
}

.login-div h4{
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 3px;
	font-family: "Lato", sans-serif;
	font-size: 12px;
	margin:0% auto;
	margin-top: -1.5%;
	line-height: 40px;
	color:#333;
}

.login-div button{
	font-family: "Lato", sans-serif;
	text-transform: uppercase;
	letter-spacing: 3px;
	border:none;
	color:#333;
	background-color: #e0e0e0;
	padding:10px 15px;
	width:75%;
	margin:10% 12.5% 0% 12.5%;
	border-radius: none;
	transition: .2s ease-in-out;
}

.login-div button:hover, .login-div button:active{
	background: #333;
	color:#e0e0e0;
	transition: .2s ease-in-out;
}

.login-div p{
	text-align: center;
	margin:3% auto;
}

.login-div p .link{
	text-decoration: none;
	list-style-type: none;
	text-transform: uppercase;
	font-family: "Lato", sans-serif;
	font-size: 16px;
	letter-spacing: 2px;
	line-height: 40px;
	color:#333;
	transition: .2s ease-in-out;
}

.login-div p .link:hover {
	text-decoration: none;
	list-style-type: none;
	cursor: pointer;
	color:#76966B;
	transition: .2s ease-in-out;
}



