/* Circle w/ Letter Brand */
.nav-brand-icon {
	background: #eee;
	border-radius: 50%;
	border:none;
	color: #333;
	background: white;
	padding:6px 13px;
	transition: .3s ease-in-out;
}

.nav-brand{
	margin:0 1.5%;
}

.nav-brand-icon:hover, .nav-brand-icon:active{
	background: #bbb;
	color: white;
	transition: .3s ease-in-out;
	cursor: pointer;
}


/* email modal settings */
.menu-pnl a{
	color:#52c0a7;
	transition: .25s ease-in-out;
}

.menu-pnl a:hover{
	text-decoration: none;
	color: #177263;
	transition: .25s ease-in-out;
}

/* hidden info pannel */
.menu-pnl {
	text-align: center;
  	display: none;
	position: relative;
	margin-top:2%;
	width: 97.5%;
	padding:20px 10px 10px 10px;
	background: #eee;
	font-family: "Lato", sans-serif;
	color: #333;
}




