.reminder-button{
	list-style-type: none;
	text-decoration: none;
	border:none;
	color:white;
	padding: 15px 0;
	font-size: 18px;
	font-family: "Lato", sans-serif;
	background: #8a8a8a ;
	margin:2% 2% 2% 2%;
	width:100%;
	transition: .3s ease-in-out;
}

.reminder-button:hover{
	transition: .3s ease-in-out;
	background-color:#5e5e5e;
	cursor: pointer;
	border-left:7px solid #52c0a7;
}