
/* Icon Div Settings */
.groupon-div i{
	background: #333;
	padding:12px 12px 13.9px 12px;
	color:white;
	font-size: 25px;
	margin-top: 6%;
	transition: .3s ease-in-out;
}

/* Main Button Title #eee */
.groupon-btn{
	position: relative;
	list-style-type: none;
	text-decoration: none;
	border:none;
	color:#333;
	text-transform: uppercase;
	padding: 10.9px 20px;
	text-align: left;
	font-size: 19.5px;
	font-family: "Lato", sans-serif;
	background: #eee;
	border-left: 5px solid #bbb;
	width:80%;
	transition: .3s ease-in-out;
}

/* On Hover Functions */
.groupon-div:hover i {
	background: #bbb;
	transition: .3s ease-in-out;
}

.groupon-div:hover .groupon-btn{
	border-left: 5px solid #333;
}


/* groupon modal settings */
.groupon-pnl a{
	color:#bbb;
	transition: .25s ease-in-out;
}

.groupon-pnl a:hover{
	text-decoration: none;
	color: #333;
	transition: .25s ease-in-out;
}

/* hidden info pannel */
.groupon-pnl {
	text-align: center;
  	display: none;
	position: relative;
	margin-top:2%;
	width: 97.5%;
	padding:20px 10px 10px 10px;
	background: #eee;
	font-family: "Lato", sans-serif;
	color: #333;
}
