/* #52c0a7 */
/* #177263 */

.cal-here{
  width:96%;
  height:450px;
  background:#eee;
  float: right;
}

.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.calendar {
  display: block;
  width: 100%;
  margin-left: 6%;
  font-size: 1.3rem;
  text-align: center;
}

.calendar header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: default;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.calendar header .month-display {
  align-items: center;
  height: 50px;
  background: #177263;
}

.calendar header .month-label {
  flex: 1;
}

.calendar header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease-in-out;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar header .arrow:hover {
  background: #52c0a7;
  transition: .2s ease-in-out;
  border-radius: 50%;
  height: 75%;

}

.cal-underline{
  height:5px;
  width:100%;
  margin-left: -6%;
  background: #52c0a7;
}

.calendar .week {
  border-top: solid 1px #CCCCCC;
}

.calendar .week:first-child {
  border-top: none;
}

.calendar .day-names {
  color: #177263;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}

.calendar .day-names .day {
  cursor: default;
}

.calendar .day-names .day:hover {
  background: inherit;
  color:#177263;
}

.calendar .day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 55.6px;
  color:#333;
  border-left: solid 1px #CCCCCC;
  cursor: pointer;
  transition: .2s ease-in-out; 
}

.calendar .day:hover {
  background: #177263;
  color:white;
  transition: .2s ease-in-out;
}

/* #52c0a7 */
/* #177263 */

.calendar .day:first-child {
  border-left: none;
}
.calendar .day.today {
  background: #52c0a7;
  color:white;
}
.calendar .day.different-month {
  color: #C0C0C0;
}
.calendar .day.selected {
  background: #177263;
  color: white;
}
