/* #52c0a7 */
/* #177263 */

/* Blank Div For Cal */
.cal-div{
  width:100%;
  height:450px;
  margin-right: -5%;
  background:#eee;
  float: right;
}

/* Cal Display Settings */
.vertical-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.row {
  display: flex;
  width: 100%;
}

.calendar {
  display: block;
  width: 100%;
  margin-left: 2%;
  font-size: 1.3rem;
  text-align: center;
}

/* Cal Header (month name) */
.calendar header {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  cursor: default;
  font-size: 1.4rem;
  font-family: "Lato", sans-serif;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  user-select: none;
}

.calendar header .month-display {
  align-items: center;
  height: 50px;
  background: #333;
}

.calendar header .month-label {
  flex: 1;
}

/* Cal Header (toggle arrows between months) */
.calendar header .arrow {
  text-align: center;
  flex-basis: 15%;
  font-weight: bold;
  cursor: pointer;
  transition: .2s ease-in-out;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calendar header .arrow:hover {
  background: #bbb;
  transition: .2s ease-in-out;

}

/* Blank Underline Div (light #52c0a7) */
.cal-underline{
  height:5px;
  width:100%;
  margin-left: -2%;
  background: #bbb;
}

/* Cal Week */
.calendar .week {
  border-top: solid 1px #CCCCCC;
}

.calendar .week:first-child {
  border-top: none;
}

/* Cal Day Names */
.calendar .day-names {
  color: #333;
  font-weight: bold;
  cursor: default;
  font-size: 1.2rem;
}

.calendar .day-names .day {
  cursor: default;
}

.calendar .day-names .day:hover {
  background: inherit;
  color:#333;
}

/* Cal Number Days */
.calendar .day {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 55.6px;
  color:#333;
  border-left: solid 1px #CCCCCC;
  cursor: pointer;
  transition: .2s ease-in-out; 
}

.calendar .day:hover {
  background: #bbb;
  color:white;
  transition: .2s ease-in-out;
}


/* Additional Settings */
.calendar .day:first-child {
  border-left: none;
}

/* Current Day Settings */
.calendar .day.today {
  background: #bbb;
  color:white;
}

.calendar .day.different-month {
  color: #C0C0C0;
}

.calendar .day.selected {
  background: #333;
  color: white;
}
